:root {
	--rem-base:10px;
	--base-font-size:16px;
	--base-line-height:1.2;
	--vertical-rhythm:calc(var(--base-line-height) * 1em);
	--brand-color:#f15f44;
	--brand-color-dark:#d82f10;
	--brand-color-light:#f69c8b;
	--accent-color:#e25262;
	--accent-color-dark:#c62134;
	--accent-color-light:#c62134;
	--base-text-color:#17171e;
	--base-link-color:var(--brand-color);
	--h1-h6-color:var(--base-text-color);
	--color-white:#fff;
	--color-white--rgb:255, 255, 255;
	--color-black:#000;
	--color-black--rgb:0, 0, 0;
	--color-brand:#f15f44;
	--color-brand--rgb:241, 95, 68;
	--color-brand-dark:#c12a0e;
	--color-brand-dark--rgb:192.58209, 42.22388, 14.41791;
	--color-brand-light:#f58873;
	--color-brand-light--rgb:244.55224, 135.59701, 115.44776;
	--color-accent:#e25262;
	--color-accent--rgb:226, 82, 98;
	--color-accent-dark:#db263a;
	--color-accent-dark--rgb:218.67822, 38.32178, 58.36139;
	--color-accent-light:#e97e8a;
	--color-accent-light--rgb:233.32178, 125.67822, 137.63861;
	--color-text:#17171e;
	--color-text--rgb:23, 23, 30;
	--color-text-secondary:#6b6b6b;
	--color-text-secondary--rgb:107, 107, 107;
	--color-blue:#006cb7;
	--color-blue--rgb:0, 108, 183;
	--color-blue-light:#00abe6;
	--color-blue-light--rgb:0, 171, 230;
	--color-blue-dark-tag:#0f7dc2;
	--color-blue-dark-tag--rgb:15, 125, 194;
	--color-gray:#e9e9e2;
	--color-gray--rgb:233, 233, 226;
	--color-purple:#60499e;
	--color-purple--rgb:96, 73, 158;
	--animation-duration:.3s;
	--animation-timing-function:ease;
	--input-x:15px;
	--gutter:20px;
	--input-color:#4b4a4a;
	--input-placeholder-color:#7e7d7d;
	--input-bg-color:white;
	--input-radius:3px;
	--input-border-color:#eee;
	--input-focus-border-color:#cdcdcd;
	--form-theme-color:#f15f44;
	--checkbox-size:18px;
	--radio-size:18px;
	--label-fz:13px;
	--label-color:#4b4a4a;
	--error-color:#e04562;
	--error-bg-color:#fadee3;
	--form-col-gutter:15px;
	--form-row-margin:22.5px;
	--h1:35px;
	--h2:28px;
	--h3:22px;
	--h4:20px;
	--h5:17px;
	--h6:16px;
	--btn-y:10px;
	--btn-x:15px;
	--btn-b:0;
	--btn-r:3px;
	--btn-fz:18px;
}

@media (min-width:812px) and (max-height:414px) and (orientation:landscape) {
	:root {
		--gutter:50px;
	}
}

@media (max-width:768px) {
	:root {
		--h1:25px;
		--h2:23px;
		--h3:20px;
		--h4:18px;
		--h5:17px;
		--h6:16px;
	}
}
